#include <stdio.h>

int main() //program that count the number of characters in a string using pointers
{

    int counter = 0;

    char myString[] = "one two four twenty four"; //there is 24 characters in this string
    char *ps = myString;
    char *pEnd = &myString[0];

    while(*pEnd != '\0')
    {
        counter++;
        pEnd++;
    }
    printf("%d" , counter);//should output 24

    return 0;
}

